$light_green: #f0fff0;
$light_gray: #eeeeee;
$link_blue: #2765cf;
$link_blue_hover: #003eb3;
$form_title: #141b1f;
$input_label: #27343b;
$input_border: #cbd0d7;
$light_red: #ffeef0;
$dark_red: #c11f2b;
$secondary_text: #747474;
