@use "../../styles/colors";

.alert {
  display: flex;
  align-items: center;
  background-color: colors.$light_red;
  color: colors.$dark_red;
  padding: 14px 16px;
  font-size: 14px;
  span {
    margin-left: 10px;
  }
}
.alert__icon {
  font-size: 18px;
}
