@use "../../styles/colors";

.formInput {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  input {
    padding: 10px 16px;
    height: 20px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid colors.$input_border;
  }
  ::placeholder {
    font-size: 15px;
  }
  label {
    margin-top: 15px;
    font-size: 14px;
    height: 20px;
    color: colors.$input_label;
  }
}
.loginForm__alert {
  background-color: colors.$light_red;
  color: colors.$dark_red;
  padding: 14px 16px;
  font-size: 14px;
}
.loginForm__btn {
  margin-top: 40px;
}
